.dashboard-container {

}

.main-container {

}

.posts-container {

}

.user-profile-container {

}

.footer-component {

}

.footer-component h1 {
  text-align: center;
  font-size: 13px;
}

.header-component {
  
}

.header-component h1 {
  text-align: center;
}

.login-form-component {
  
}

.new-post-form-component {
  
}

.post-component {
    width: 740px;
    margin-left: 25%;
    border: 1px solid grey;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.post-component p {
  font-size: 20px;
  padding-left: 30px;
}

.post-component h1 {
  font-size: 30px;
  font-weight: bold;
  padding-left: 30px;
}

.post-component h2 {
  font-size: 15px;
  padding-left: 30px;
}

.user-profile-component {
  
}