@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
@import url('//dl.dropbox.com/s/vpi3f9s7nhpe7v7/honeybee.css');


.App {
  position: relative;
  min-height: 100vh;
  font-family: IBM Plex Sans;
  font-weight: 400;
  background-color: #f4f4f4;
}

.article-component {
  width: 740px;
  border: 1px solid grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
  overflow: scroll;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.18); 
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.18);
  max-height: 350px;
  background-color: white;
}

.article-component h1 {
  font-size: 30px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 0px;
}

.article-component h2 {
  font-size: 15px;
  padding-left: 30px;
}

.article-component hr {
  width: 640px;
  opacity: 2;
}

.article-component p {
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.article-author {
  color: grey;
  font-size: 13px;
  padding-left: 30px;
  padding-top: 0px;
}

.article-title {
  font-size: 22px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 20px;
}

.articles-container {
  width: 80%;
  padding-bottom: 8%;
}

.dashboard-container {
  margin-left: 27%;
  width: 50%;
  padding-top: 100px;
}

.danger-button {
  padding: calc(.875rem - 3px) 60px calc(.875rem - 3px) 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: IBM Plex Sans;
  background-color: #da1e28;
  border: none;
  color: white;
}

.danger-button:hover {
  background-color: #b81921;
  color: white;
}

#delete-article {
  margin-left: 80%;
}

.footer-component {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  opacity: .4;
}

.footer-component h1 {
  text-align: center;
  font-size: 13px;
}

.header-component {
  width: 740px;
  height: 60px;
  position: absolute;
  margin-left: 27%;
  margin-top: 30px;
}

.header-component h1 {
  text-align: center;
}

.header-component button {
  margin-right: 40px;
  margin-left: 90%;
}

.link-button {
  border: 0px;
  font: inherit;
  color: blue;
  text-decoration: underline;
  text-underline-position: below;
  background-color: #f4f4f4;
}

.login-form-component {
  padding-top: 20px;
  width: 800px;
  margin-left: 25%;
}

.login-form-component label {
  margin-left: 10px;
  display: inline-block;
  text-align: right;
  margin-right: 7px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.login-form-input {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 15%;
    height: 28px;
    background-color: rgb(252, 252, 251);
    outline: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding-left: 5px;
    display: inline-block;
    margin-bottom: 10px;
}

.new-article-form-component label {
  padding-right: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.new-article-form-input {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 15%;
  height: 28px;
  background-color: rgb(252, 252, 251);
  outline: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-left: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.new-article-form-component textarea {
  background-color: rgb(252, 252, 251);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  height: 125px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: 0px;
  padding-left: 5px;
  width: 740px;
}

.new-user-form-component {
  padding-top: 20px;
  width: 800px;
  margin-left: 25%;
}

.new-user-form-component label {
  margin-left: 10px;
  display: inline-block;
  text-align: right;
  margin-right: 7px;
}

.new-user-form-input {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 15%;
  height: 28px;
  background-color: rgb(252, 252, 251);
  outline: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding-left: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.new-article-form-component form {
  padding-bottom: 30px;
}

.new-article-line {
  width: 740px;
  margin-bottom: 25px;
}

.primary-button {
  padding: calc(.875rem - 3px) 60px calc(.875rem - 3px) 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: IBM Plex Sans;
  background-color: #0f62fe;
  border: none;
  color: white;
}

.primary-button:hover {
  background-color: #0353e9;
  color: white;
}

#logout {
  margin-left: 70%;
}

#submit {
  margin-bottom: 15px;
}

#general {
  margin-left: 10px;
  margin-bottom: 10px;
}

.title {
  text-align: left;
  color: white;
  background-color: black;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 11px;
  padding-left: 20px;
  border-bottom: 1.5px solid;
  border-bottom-color: white;
}

.title h1 {
  display: contents;
  font-weight: 400;
}

.title span {
  font-size: 30px;
  margin-left: 70%;
}